@import 'color';

@import 'typography';


$line-height-h1:        62px; // ~36px
$line-height-h2:        52px; //    42px; // ~30px
$line-height-h3:        28px; //    24px; // ~24px
$line-height-h4:        28px; //    21px; // ~18px
$line-height-h5:        28px; //    19px;
$line-height-h6:        28px; //    17px; // ~12px




$screen-xl: 0 !default;
